{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "data": "./src/data",
          "assets": "./src/assets",
          "features": "./src/components/features",
          "screens": "./src/components/screens",
          "components": "./src/components",
          "reducers": "./src/reducers"
        }
      }
    ]
  ]
}
