{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "screens": "./src/components/screens",
          "components": "./src/components"
        }
      }
    ]
  ]
}
